.card {
	width: 350px;
}

.card-body {
	height:550px;

}

.py-2 {
	margin-right:250px;
	font-size: 20px;
}

.logo {
	width: 10%;
	margin-left: 15px;
}

.fs-4 {
	margin-left: 50px;
	font-size: 30px;
}

.regform {
	width: 500px;
}

.value_panel{
	margin-left: 1250px;
}

.sel{
	margin-left: 1250px;
}
